apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-app
      tier : complete
  template: 
    metadata:
      labels:
        app: node-app
        tier: complete
    spec:
      containers:
        - name: my-node-app
          image: abhishekpisal/my-node-app
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            periodSeconds: 5
          resources: 
            requests:
              cpu: "250m"
              memory: "128Mi"
            limits:
                cpu: "500m"
                memory: "256Mi"
