services:
  mongodb:
    image: mongo
    container_name: mongodb 
    ports:
      - '27017:27017'
    volumes:
      - data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: Abhishek2543
    networks:
      - mongo-network

  mongo-express:
    image: mongo-express
    container_name: mongo-express
    ports:
      - '8081:8081'
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: admin
      ME_CONFIG_MONGODB_ADMINPASSWORD: Abhishek2543
      ME_CONFIG_MONGODB_SERVER: mongodb
    networks:
      - mongo-network
    depends_on:
      - mongodb

  feedback-mongo:
    build:
      context: ./
      dockerfile: Dockerfile
    image: feedback-mongo
    container_name: feedback-mongo
    ports:
      - '3000:3000'
    volumes:
      - ./:/app
      - /app/node_modules
    networks:
      - mongo-network
    depends_on:
      - mongodb
networks:
  mongo-network:
    external: true

volumes:
  data:
  